::selection{
    background-color: #4f4f4f;
    color: #fff;
}
section#intro{
    min-height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
section#about{
    min-height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
section#about li{
    font-size: 22px;
}
section#about li span{
    font-style: italic;
    font-weight: bolder;
}

.slider{
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1584009577996-0227b2358356?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.loader {
    position: relative;
}
.loader span {
    position: relative;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 3.5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    padding-right: 3px;
}
@keyframes animate {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50px);
    }
}